
@{
    ViewData["Title"] = "Index";
}
<partial name="_Navbar"/>
<section class="main_content_area">
	<div class="container">
		<div class="account_dashboard">
			<div class="row">
				<div class="col-sm-12 col-md-3 col-lg-3">
					<!-- Nav tabs -->
					<div class="dashboard_tab_button">
                        <ul role="tablist" class="nav flex-column dashboard-list">
							<partial name="Menu" />
                        </ul>
					</div>
				</div>
				<div class="col-sm-12 col-md-9 col-lg-9">
					<!-- Tab panes -->
					
				</div>
			</div>
		</div>
	</div>
</section>