@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}
<!--breadcrumbs area start-->
<partial name="_Navbar" />
<!--breadcrumbs area end-->
<!-- customer login start -->
<div class="customer_login mt-60">
    <div class="container">
        <div class="row">
            <!--login area start-->
            <div class="col-lg-12 col-md-12">
                <div class="account_form">
                    <h2>بازیابی کلمه عبور</h2>
                    <form action="#">
                        <p>
                            <label> رمز عبور جدید <span>*</span></label>
                            <input type="text">
                        </p>
                        <p>
                            <label>تکرار رمز عبور <span>*</span></label>
                            <input type="password">
                        </p>
                        <div class="login_submit">
                            <button type="submit">ثبت </button>

                        </div>

                    </form>
                </div>
            </div>
            <!--login area start-->
            <!--register area start-->
            <!--register area end-->
        </div>
    </div>
</div>